# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binarios
*.test

# Go coverage
*.out
*.prof

# Dependencias
vendor/

# Archivos de entorno local
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo